.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.content{
  height: 80%;
}

.footer {
  color: white;
  background-color: black;
  height: 10%;
  padding-bottom: 2%;
}

.black {
  color: black;
}

#animsidenav a {
  position: fixed;
  left: -120px;
  -webkit-transition: 0.3s;
  padding: 15px;
  width: 10%;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#animsidenav a:hover{
  left: 0;
}

#Wearable {
  top: 300px;
  background-color: red;
}

#Cutlery {
  top: 360px;
  background-color: brown;
}

#Utensils {
  top: 420px;
  background-color: green;
}

#Electronics {
  top: 480px;
  background-color: gray;
}

.backheader {
  width: 100%;
  height: auto;
}

#transcart {
    font-family: "Segoe UI", Helvetica, sans-serif;
    width: 100%;
}

#transcart td, #transcart th {
    border: 2px solid white;
    padding: 10px;
}

#transcart tr:nth-child(even){background-color: silver;}

#transcart tr:hover {background-color: gray;}

#transcart th {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: black;
    color: white;
}2
